/*
  CORES
    Vermelho #FF383E
    Preto #000
    Branco #FFF
*/
/* TIPOGRAFIA */
@font-face {
  font-family: 'Anton';
  src: url('assets/fonts/Anton-Regular.ttf');
}

@font-face {
  font-family: 'Pragmatica';
  src: url('assets/fonts/Pragmatica.ttf');
}

/* CORES */
:root {
  --vermelho: #FF383E;
  --branco: #FFF;
  --preto: #000;
}

/* COFNGIRAÇÕES BÁSICAS */
html,
body, #home, #escolhas, #foco, #base {
  height: 100vh;
  overflow-x: hidden;
}

body {
	background: var(--branco);
}

/* BARRA DE NAVEGAÇÃO */
nav.navbar-transparente {
	padding: 15px 0px;
	background: var(--branco);
}

.navbar-light .navbar-nav .nav-link {
	color: var(--preto);
  font-family: 'Anton';
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 24px;
  margin-left: 4px;
}

.navbar-light .navbar-nav .nav-link:hover {
	color: var(--vermelho);
  border-bottom: 1px solid var(--vermelho);
}

.navbar-light .navbar-toggler {
	color: rgba(255, 255, 255, .5);
	border-color: rgba(255, 255, 255, 0.5);
}

#home {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#home .container {
  margin-bottom: 10%;
}

.capa {
	text-align: center;
  margin-top: 0;
  padding: 0;
}

#home h1 {
  font-size: 5rem;
  font-family: 'Anton';
  text-transform: uppercase;
}

#home .vermelho {
  color: var(--vermelho);
}

#home .preto {
  color: var(--preto);
}

#escolhas {
  background: var(--vermelho);
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

#escolhas h2 {
  text-transform: uppercase;
  font-family: 'Anton';
  color: var(--branco);
  margin-bottom: 32px;
}

#escolhas p {
  color: var(--branco);
  font-size: 'Pragmatica';
  font-size: 28px;
  line-height: 30px;
}

#foco {
  background: var(--branco);
  height: 80%;
  display: flex;
  text-align: center;
  align-items: center;
}

#foco h2 {
  text-transform: uppercase;
  font-family: 'Anton';
  color: var(--preto);
  margin-bottom: 32px;
}

#foco p {
  color: var(--preto);
  font-size: 'Pragmatica';
  font-size: 28px;
  line-height: 30px;
}

.btn-custom {
  background-color: var(--preto);
  border: none;
  width: 300px;
  height: 100px;
  padding: 10px;
  text-transform: uppercase;
  font-weight: bold;
  border-radius: 2px;
  margin-top: 40px;
  cursor: default;
}

.btn-custom:hover {
  background-color: var(--preto);
 }

 #base {
  background: var(--preto);
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

#base h3 {
  color: var(--vermelho);
  text-transform: uppercase;
  font-family: 'Anton';
}

#base p {
  line-height: 20px;
  font-size: 20px;
  color: var(--branco);
}

.ajuste {
  padding-top: 20px;
  padding-bottom: 20px;
}