/*
  CORES
    Vermelho #FF383E
    Preto #000
    Branco #FFF
*/
/* TIPOGRAFIA */
@font-face {
  font-family: "Anton";
  src: url("assets/fonts/Anton-Regular.ttf");
}

@font-face {
  font-family: "Pragmatica";
  src: url("assets/fonts/Pragmatica.ttf");
}

/* CORES */
:root {
  --vermelho: #ff383e;
  --branco: #fff;
  --preto: #000;
}

/* COFNGIRAÇÕES BÁSICAS */
html,
body,
#home,
#escolhas,
#foco,
#base,
#diferencial {
  height: 100vh;
  overflow-x: hidden;
}

body {
  background: var(--branco);
}

/* BARRA DE NAVEGAÇÃO */
nav.navbar-transparente {
  padding: 15px 0px;
  background: var(--branco);
}

.navbar-light .navbar-nav .nav-link {
  color: var(--preto);
  font-family: "Anton";
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 24px;
  margin-left: 4px;
}

.navbar-light .navbar-nav .nav-link:hover {
  color: var(--vermelho);
  border-bottom: 1px solid var(--vermelho);
}

.navbar-light .navbar-toggler {
  color: rgba(255, 255, 255, 0.5);
  border-color: rgba(255, 255, 255, 0.5);
}

#home {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#home .container {
  margin-bottom: 10%;
}

.capa {
  text-align: center;
  margin-top: 0;
  padding: 0;
}

#home h1,
#diferencial h1 {
  font-size: 5rem;
  font-family: "Anton";
  text-transform: uppercase;
}

#home .vermelho {
  color: var(--vermelho);
}

#home .preto {
  color: var(--preto);
}

#escolhas {
  background: var(--vermelho);
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

#escolhas h2 {
  text-transform: uppercase;
  font-family: "Anton";
  color: var(--branco);
  margin-bottom: 32px;
}

#escolhas p {
  color: var(--branco);
  font-size: "Pragmatica";
  font-size: 28px;
  line-height: 30px;
}

#foco {
  background: var(--branco);
  height: 100%;
  display: flex;
  text-align: center;
  align-items: center;
  padding-top: 50px;
  padding-bottom: 50px;
}

#foco h2 {
  text-transform: uppercase;
  font-family: "Anton";
  color: var(--preto);
  margin-bottom: 32px;
}

#foco p {
  color: var(--preto);
  font-size: "Pragmatica";
  font-size: 28px;
  line-height: 30px;
}

.btn-custom {
  background-color: var(--preto);
  border: none;
  width: 250px;
  height: 100px;
  padding: 10px;
  text-transform: uppercase;
  font-weight: bold;
  border-radius: 2px;
  margin-top: 20px;
  cursor: default;
}

.btn-custom:hover {
  background-color: var(--preto);
}

#base {
  background: var(--preto);
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 50px;
  padding-bottom: 50px;
}

#base h3 {
  color: var(--vermelho);
  text-transform: uppercase;
  font-family: "Anton";
}

#base p {
  line-height: 20px;
  font-size: 20px;
  color: var(--branco);
}

.ajuste {
  padding-top: 20px;
  padding-bottom: 20px;
}

#diferencial {
  background: var(--branco);
  padding-top: 50px;
  padding-bottom: 50px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(40deg, --vermelho, white);
}

#diferencial p {
  color: var(--preto);
  font-size: "Pragmatica";
  font-size: 24px;
  line-height: 24px;
}

#parceiros {
  background: var(--preto);
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 100px;
  padding-bottom: 100px;
}

#parceiros p {
  color: var(--branco);
  font-size: 24px;
  line-height: 24px;
}

#parceiros .parceiro {
  text-transform: uppercase;
  color: var(--vermelho);
  font-size: 32px;
  font-family: "Anton";
  margin-top: 20px;
  margin-bottom: 10px;
  letter-spacing: 2px;
}

#parceiros ul {
  list-style: none;
  text-align: left;
}

#parceiros .historico {
  color: var(--branco);
  font-size: 20px;
  line-height: 24px;
}

footer {
  background: var(--preto);
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

footer h1 {
  font-size: 3rem;
  font-family: "Anton";
  text-transform: uppercase;
  color: var(--vermelho);
}

footer p {
  font-size: 32px;
  color: var(--branco);
  font-weight: bold;
}

footer ul {
  list-style: none;
}

footer ul li {
  font-size: 20px;
  color: var(--branco);
}

.format-image {
  height: 400px;
}

.btn-custom2 {
  background-color: var(--branco);
  color: var(--vermelho);
  border: none;
  width: 250px;
  height: 100px;
  padding: 10px;
  text-transform: uppercase;
  font-weight: bold;
  border-radius: 2px;
  margin-top: 20px;
  cursor: default;
}

.btn-custom2:hover {
  background-color: var(--vermelho);
  color: var(--branco);
}
